PORT=3000
DEMO_MODE=true

DB_HOST=localhost
DB_USER=admin
DB_PASSWORD=password
DB_NAME=industrial_logs

MODBUS_IP=192.168.1.50
MODBUS_PORT=502
MODBUS_REGISTER=100
MODBUS_INTERVAL=1000

OPC_URL=opc.tcp://192.168.1.100:4840
OPC_NODE_ID=ns=1;s=FlowSensor01
OPC_INTERVAL=1000
